# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.env

# IDE settings
.vscode/
.idea/

# DATA STAGING
data/dicom_temp/*
data/nifti_temp/*
!data/dicom_temp/.gitkeep
!data/nifti_temp/.gitkeep

# MODELS & WEIGHTS
models/*.pth
!models/.gitkeep

# PIPELINE OUTPUTS
prediction_mask.nii.gz
*.zip
